:root {
  --border-width-s: 1px;
  --border-width-m: 2px;
  --border-width-l: 4px;
  --border-style-solid: solid;
  --border-style-dashed: dashed;
  --border-radius-none: 0px;
  --border-radius-s: 1px;
  --border-radius-m: 2px;
  --border-radius-l: 4px;
  --border-radius-xl: 9999.0048px;
  --border-radius-v2-none: 0px;
  --border-radius-v2-s: 0px;
  --border-radius-v2-m: 0px;
  --border-radius-v2-l: 0px;
  --border-radius-v2-round: 0px;
  --font-family-sans-serif: ZalandoSans,Helvetica,sans-serif;
  --font-family-serif: ZalandoSans,Helvetica,sans-serif;
  --font-weight-normal: 400;
  --font-weight-bold: 650;
  --grid-gutter: 12px;
  --grid-margin: 24px;
  --grid-max-width: 1280px;
  --grid-columns: 12;
  --ratio-portrait: 0.693;
  --ratio-almost-square: 1.04;
  --ratio-square: 1;
  --ratio-half-time: 1.386;
  --ratio-third-party: 2.079;
  --ratio-quarterback: 2.772;
  --ratio-fifth-element: 3.465;
  --ratio-sixth-sense: 4.158;
  --ratio-achtung: 5.544;
  --ratio-sixteen-by-nine: 1.778;
  --ratio-nine-by-sixteen: 0.562;
  --ratio-four-by-five: 0.8;
  --size-icon-2xs: 0.75rem;
  --size-icon-xs: 1rem;
  --size-icon-s: 1.25rem;
  --size-icon-m: 1.5rem;
  --size-icon-l: 2rem;
  --size-icon-xl: 3rem;
  --spacing-none: 0px;
  --spacing-3xs: 4px;
  --spacing-2xs: 8px;
  --spacing-xs: 12px;
  --spacing-s: 16px;
  --spacing-m: 24px;
  --spacing-l: 36px;
  --spacing-xl: 48px;
  --spacing-2xl: 64px;
  --typography-body-font-size: 1rem;
  --typography-body-font-weight: 400;
  --typography-body-font-width: 102.6%;
  --typography-body-line-height: 1.5rem;
  --typography-body-letter-spacing: 0rem;
  --typography-body-small-font-size: 0.875rem;
  --typography-body-small-font-weight: 400;
  --typography-body-small-font-width: 102.6%;
  --typography-body-small-line-height: 1.25rem;
  --typography-body-small-letter-spacing: 0rem;
  --typography-body-extra-small-font-size: 0.75rem;
  --typography-body-extra-small-font-weight: 400;
  --typography-body-extra-small-font-width: 102.6%;
  --typography-body-extra-small-line-height: 1rem;
  --typography-body-extra-small-letter-spacing: 0rem;
  --typography-body-large-font-size: 1.375rem;
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-width: 102.6%;
  --typography-body-large-line-height: 1.75rem;
  --typography-body-large-letter-spacing: 0rem;
  --typography-h1-font-size: 1.625rem;
  --typography-h1-font-weight: 520;
  --typography-h1-sans-serif-font-weight: 520;
  --typography-h1-sans-serif-text-transform: none;
  --typography-h1-serif-font-weight: 520;
  --typography-h1-serif-text-transform: none;
  --typography-h1-font-width: 112.5%;
  --typography-h1-line-height: 1.875rem;
  --typography-h1-letter-spacing: -0.00625rem;
  --typography-h1-text-transform: none;
  --typography-h2-font-size: 1.375rem;
  --typography-h2-font-weight: 520;
  --typography-h2-sans-serif-font-weight: 520;
  --typography-h2-sans-serif-text-transform: none;
  --typography-h2-serif-font-weight: 520;
  --typography-h2-serif-text-transform: none;
  --typography-h2-font-width: 112.5%;
  --typography-h2-line-height: 1.625rem;
  --typography-h2-letter-spacing: -0.0025rem;
  --typography-h2-text-transform: none;
  --typography-h3-font-size: 1.25rem;
  --typography-h3-font-weight: 520;
  --typography-h3-sans-serif-font-weight: 520;
  --typography-h3-sans-serif-text-transform: none;
  --typography-h3-serif-font-weight: 520;
  --typography-h3-serif-text-transform: none;
  --typography-h3-font-width: 112.5%;
  --typography-h3-line-height: 1.5rem;
  --typography-h3-letter-spacing: 0rem;
  --typography-h3-text-transform: none;
  --typography-h4-font-size: 1.125rem;
  --typography-h4-font-weight: 520;
  --typography-h4-sans-serif-font-weight: 520;
  --typography-h4-sans-serif-text-transform: none;
  --typography-h4-serif-font-weight: 520;
  --typography-h4-serif-text-transform: none;
  --typography-h4-font-width: 112.5%;
  --typography-h4-line-height: 1.375rem;
  --typography-h4-letter-spacing: 0rem;
  --typography-h4-text-transform: none;
  --typography-h5-font-size: 1rem;
  --typography-h5-font-weight: 520;
  --typography-h5-sans-serif-font-weight: 520;
  --typography-h5-sans-serif-text-transform: none;
  --typography-h5-serif-font-weight: 520;
  --typography-h5-serif-text-transform: none;
  --typography-h5-font-width: 106.2%;
  --typography-h5-line-height: 1.25rem;
  --typography-h5-letter-spacing: 0rem;
  --typography-h5-text-transform: none;
  --typography-h6-font-size: 0.875rem;
  --typography-h6-font-weight: 520;
  --typography-h6-sans-serif-font-weight: 520;
  --typography-h6-sans-serif-text-transform: none;
  --typography-h6-serif-font-weight: 520;
  --typography-h6-serif-text-transform: none;
  --typography-h6-font-width: 106.2%;
  --typography-h6-line-height: 1.125rem;
  --typography-h6-letter-spacing: 0rem;
  --typography-h6-text-transform: none;
  --typography-jumbo1-font-size: 3.375rem;
  --typography-jumbo1-font-weight: 520;
  --typography-jumbo1-font-width: 112.5%;
  --typography-jumbo1-line-height: 3.5rem;
  --typography-jumbo1-letter-spacing: -0.025rem;
  --typography-jumbo1-text-transform: none;
  --typography-jumbo2-font-size: 2.875rem;
  --typography-jumbo2-font-weight: 520;
  --typography-jumbo2-font-width: 112.5%;
  --typography-jumbo2-line-height: 3rem;
  --typography-jumbo2-letter-spacing: -0.01875rem;
  --typography-jumbo2-text-transform: none;
  --typography-jumbo3-font-size: 2.375rem;
  --typography-jumbo3-font-weight: 520;
  --typography-jumbo3-font-width: 112.5%;
  --typography-jumbo3-line-height: 2.5rem;
  --typography-jumbo3-letter-spacing: -0.0125rem;
  --typography-jumbo3-text-transform: none;
  --typography-jumbo4-font-size: 2.125rem;
  --typography-jumbo4-font-weight: 520;
  --typography-jumbo4-font-width: 112.5%;
  --typography-jumbo4-line-height: 2.25rem;
  --typography-jumbo4-letter-spacing: -0.00625rem;
  --typography-jumbo4-text-transform: none;
}
:root, :root ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: var(--border-radius-none);
  --component-card-border-radius: var(--border-radius-none);
  --component-icon-button-border-radius: var(--border-radius-none);
  --component-input-border-radius: var(--border-radius-none);
  --component-link-default-element-label-font-family: var(--font-family-sans-serif);
  --component-link-default-element-label-typography-small-font-size: var(--typography-body-small-font-size);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-small-font-width: var(--typography-body-small-font-width);
  --component-link-default-element-label-typography-small-line-height: var(--typography-body-small-line-height);
  --component-link-default-element-label-typography-small-letter-spacing: var(--typography-body-small-letter-spacing);
  --component-link-default-element-label-typography-medium-font-size: var(--typography-body-small-font-size);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-bold);
  --component-link-default-element-label-typography-medium-font-width: var(--typography-body-small-font-width);
  --component-link-default-element-label-typography-medium-line-height: var(--typography-body-small-line-height);
  --component-link-default-element-label-typography-medium-letter-spacing: var(--typography-body-small-letter-spacing);
  --component-link-default-element-label-typography-large-font-size: var(--typography-body-font-size);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-bold);
  --component-link-default-element-label-typography-large-font-width: var(--typography-body-font-width);
  --component-link-default-element-label-typography-large-line-height: var(--typography-body-line-height);
  --component-link-default-element-label-typography-large-letter-spacing: var(--typography-body-letter-spacing);
  --component-link-default-element-underline-border-width: var(--border-width-s);
  --component-link-default-element-underline-border-width-hover: var(--border-width-s);
  --component-link-default-element-underline-border-width-focus: var(--border-width-s);
  --component-link-default-element-underline-border-width-pressed: var(--border-width-s);
  --component-link-default-element-icon-display: none;
  --component-link-navigational-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-navigational-element-label-typography-medium-font-weight: var(--font-weight-bold);
  --component-link-navigational-element-label-typography-large-font-weight: var(--font-weight-bold);
  --component-link-icon-element-icon-display: block;
  --component-media-default-border-radius: var(--border-radius-v2-l);
  --component-media-thumbnail-border-radius: var(--border-radius-v2-s);
  --component-media-avatar-border-radius: var(--border-radius-v2-round);
  --component-message-default-spacing-padding: var(--spacing-s);
  --component-wishlist-border-radius: var(--border-radius-none);
}
@media (min-width: 48rem) {
  :root {
    --grid-gutter: 16px;
    --grid-margin: 32px;
  }
}
@media (min-width: 64rem) {
  :root {
    --grid-margin: 32px;
    --typography-h1-font-size: 2.375rem;
    --typography-h1-line-height: 2.75rem;
    --typography-h1-letter-spacing: -0.0125rem;
    --typography-h2-font-size: 1.875rem;
    --typography-h2-line-height: 2.125rem;
    --typography-h2-letter-spacing: -0.0075rem;
    --typography-h3-font-size: 1.5rem;
    --typography-h3-line-height: 1.875rem;
    --typography-h3-letter-spacing: -0.005rem;
    --typography-h4-font-size: 1.25rem;
    --typography-h4-line-height: 1.5rem;
    --typography-h4-letter-spacing: -0.015rem;
    --typography-jumbo1-font-size: 4.375rem;
    --typography-jumbo1-line-height: 4.5rem;
    --typography-jumbo1-letter-spacing: -0.03125rem;
    --typography-jumbo2-font-size: 3.875rem;
    --typography-jumbo2-line-height: 4rem;
    --typography-jumbo2-letter-spacing: -0.025rem;
    --typography-jumbo3-font-size: 3.375rem;
    --typography-jumbo3-line-height: 3.5rem;
    --typography-jumbo3-letter-spacing: -0.01875rem;
    --typography-jumbo4-font-size: 2.875rem;
    --typography-jumbo4-line-height: 3rem;
    --typography-jumbo4-letter-spacing: -0.0125rem;
  }
}
:is(:root, :root._LM, :root ._LM) {
  --color-background-transparent: #00000000;
  --color-background-default: #ffffff;
  --color-background-primary: #000000;
  --color-background-secondary: #5c6169;
  --color-background-tertiary: #f1f1f1;
  --color-background-positive: #000000;
  --color-background-negative: #da0410;
  --color-background-brand: #ff4c00;
  --color-background-sale: #da0410;
  --color-background-overlay: #00000080;
  --color-background-hover: #d2d8dd;
  --color-background-selected: #0000001a;
  --color-background-pressed: #b9c0c6;
  --color-background-focus: #0000004d;
  --color-border-primary: #000000;
  --color-border-secondary: #d2d8dd;
  --color-border-positive: #000000;
  --color-border-negative: #da0410;
  --color-border-interactive: #000000;
  --color-border-hover: #000000;
  --color-border-selected: #000000;
  --color-border-pressed: #000000;
  --color-border-focus: #000000;
  --color-text-primary: #000000;
  --color-text-secondary: #5c6169;
  --color-text-positive: #000000;
  --color-text-negative: #da0410;
  --color-text-interactive: #000000;
  --color-text-brand: #ff4c00;
  --color-text-sale: #da0410;
  --color-text-inverse: #ffffff;
  --color-text-hover: #000000;
  --color-text-selected: #000000;
  --color-text-pressed: #000000;
  --color-text-focus: #000000;
  --color-text-on-sale: #ffffff;
  --color-text-on-positive: #ffffff;
  --opacity-disabled: 0.25;
  --opacity-hover: 0.6;
}
:is(:root, :root._LM, :root ._LM) ._ZDS_REF_SCOPE_ {
  --component-flag-default-color-text: var(--color-text-primary);
  --component-flag-default-color-background: var(--color-background-default);
  --component-flag-strong-color-text: var(--color-text-inverse);
  --component-flag-strong-color-background: var(--color-background-primary);
  --component-flag-subtle-color-text: var(--color-text-primary);
  --component-flag-subtle-color-background: var(--color-background-tertiary);
  --component-flag-sale-color-text: var(--color-text-on-sale);
  --component-flag-sale-color-background: var(--color-background-sale);
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-negative-subtle-color-text: var(--color-text-negative);
  --component-flag-negative-subtle-color-background: #f1f1f1;
  --component-flag-positive-color-text: var(--color-text-on-positive);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-navigational-element-label-color-text: var(--color-text-primary);
  --component-link-navigational-element-underline-color-border: transparent;
  --component-link-icon-element-underline-color-border: transparent;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-icon: var(--color-text-primary);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:is(:root._MM, :root ._MM) {
  --color-background-default: #ffffff;
  --color-background-primary: #000000;
  --color-background-secondary: #90979e;
  --color-background-tertiary: #f1f1f1;
  --color-background-positive: #000000;
  --color-background-negative: #000000;
  --color-background-brand: #000000;
  --color-background-sale: #da0410;
  --color-background-overlay: #00000080;
  --color-background-hover: #00000099;
  --color-background-selected: #00000066;
  --color-background-pressed: #000000b3;
  --color-background-focus: #00000099;
  --color-border-primary: #000000;
  --color-border-secondary: #00000066;
  --color-border-positive: #000000;
  --color-border-negative: #000000;
  --color-border-interactive: #000000;
  --color-border-hover: #000000;
  --color-border-selected: #000000;
  --color-border-pressed: #000000;
  --color-border-focus: #000000;
  --color-text-primary: #000000;
  --color-text-secondary: #000000;
  --color-text-positive: #000000;
  --color-text-negative: #000000;
  --color-text-interactive: #000000;
  --color-text-brand: #000000;
  --color-text-sale: #000000;
  --color-text-inverse: #ffffff;
  --color-text-hover: #ffffff;
  --color-text-selected: #ffffff;
  --color-text-pressed: #ffffff;
  --color-text-focus: #ffffff;
  --color-text-on-positive: #ffffff;
  --opacity-disabled: 0.25;
  --opacity-hover: 1;
}
:is(:root._MM, :root ._MM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-subtle-color-background: #f1f1f1;
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: transparent;
}
:is(:root._DM, :root ._DM) {
  --color-background-default: #000000;
  --color-background-primary: #ffffff;
  --color-background-secondary: #b9c0c6;
  --color-background-tertiary: #16181a;
  --color-background-positive: #ffffff;
  --color-background-negative: #ffffff;
  --color-background-brand: #ffffff;
  --color-background-sale: #da0410;
  --color-background-overlay: #00000080;
  --color-background-hover: #ffffffb3;
  --color-background-selected: #ffffff99;
  --color-background-pressed: #ffffffcc;
  --color-background-focus: #ffffffb3;
  --color-border-primary: #ffffff;
  --color-border-secondary: #ffffff66;
  --color-border-positive: #ffffff;
  --color-border-negative: #ffffff;
  --color-border-interactive: #ffffff;
  --color-border-hover: #ffffff;
  --color-border-selected: #ffffff;
  --color-border-pressed: #ffffff;
  --color-border-focus: #ffffff;
  --color-text-primary: #ffffff;
  --color-text-secondary: #ffffff;
  --color-text-positive: #ffffff;
  --color-text-negative: #ffffff;
  --color-text-interactive: #ffffff;
  --color-text-brand: #ffffff;
  --color-text-sale: #ffffff;
  --color-text-inverse: #000000;
  --color-text-hover: #000000;
  --color-text-selected: #000000;
  --color-text-pressed: #000000;
  --color-text-focus: #000000;
  --color-text-on-positive: #000000;
  --opacity-disabled: 0.4;
  --opacity-hover: 1;
}
:is(:root._DM, :root ._DM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-subtle-color-background: #f1f1f1;
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: transparent;
}
:root ._TD {
  --typography-jumbo1-font-weight: 364;
  --typography-jumbo1-text-transform: uppercase;
  --typography-jumbo1-font-size: 3.5rem;
  --typography-jumbo1-font-width: 103.8%;
  --typography-jumbo1-line-height: 3.75rem;
  --typography-jumbo1-letter-spacing: 0rem;
  --typography-jumbo2-font-weight: 364;
  --typography-jumbo2-text-transform: uppercase;
  --typography-jumbo2-font-size: 3rem;
  --typography-jumbo2-font-width: 103.8%;
  --typography-jumbo2-line-height: 3.25rem;
  --typography-jumbo2-letter-spacing: 0rem;
  --typography-jumbo3-font-weight: 364;
  --typography-jumbo3-text-transform: uppercase;
  --typography-jumbo3-font-size: 2.5rem;
  --typography-jumbo3-font-width: 103.8%;
  --typography-jumbo3-line-height: 2.75rem;
  --typography-jumbo3-letter-spacing: 0rem;
  --typography-jumbo4-font-size: 1.75rem;
  --typography-jumbo4-font-weight: 364;
  --typography-jumbo4-line-height: 2rem;
  --typography-jumbo4-text-transform: uppercase;
  --typography-jumbo4-font-width: 103.8%;
  --typography-jumbo4-letter-spacing: 0rem;
  --typography-h1-font-weight: 364;
  --typography-h1-sans-serif-font-weight: 364;
  --typography-h1-sans-serif-text-transform: uppercase;
  --typography-h1-serif-font-weight: 364;
  --typography-h1-serif-text-transform: uppercase;
  --typography-h1-text-transform: uppercase;
  --typography-h1-font-size: 1.75rem;
  --typography-h1-font-width: 103.8%;
  --typography-h1-line-height: 2.25rem;
  --typography-h1-letter-spacing: 0rem;
  --typography-h2-font-weight: 364;
  --typography-h2-sans-serif-font-weight: 364;
  --typography-h2-sans-serif-text-transform: uppercase;
  --typography-h2-serif-font-weight: 364;
  --typography-h2-serif-text-transform: uppercase;
  --typography-h2-text-transform: uppercase;
  --typography-h2-font-size: 1.5rem;
  --typography-h2-font-width: 103.8%;
  --typography-h2-line-height: 2rem;
  --typography-h2-letter-spacing: 0rem;
  --typography-h3-font-weight: 364;
  --typography-h3-sans-serif-font-weight: 364;
  --typography-h3-sans-serif-text-transform: uppercase;
  --typography-h3-serif-font-weight: 364;
  --typography-h3-serif-text-transform: uppercase;
  --typography-h3-text-transform: uppercase;
  --typography-h3-font-size: 1.25rem;
  --typography-h3-font-width: 103.8%;
  --typography-h3-line-height: 1.75rem;
  --typography-h3-letter-spacing: 0rem;
  --typography-h4-font-weight: 364;
  --typography-h4-sans-serif-font-weight: 364;
  --typography-h4-sans-serif-text-transform: uppercase;
  --typography-h4-serif-font-weight: 364;
  --typography-h4-serif-text-transform: uppercase;
  --typography-h4-text-transform: uppercase;
  --typography-h4-font-size: 1.125rem;
  --typography-h4-font-width: 103.8%;
  --typography-h4-line-height: 1.5rem;
  --typography-h4-letter-spacing: 0rem;
  --typography-h5-font-weight: 450;
  --typography-h5-sans-serif-font-weight: 450;
  --typography-h5-sans-serif-text-transform: uppercase;
  --typography-h5-serif-font-weight: 450;
  --typography-h5-serif-text-transform: uppercase;
  --typography-h5-text-transform: uppercase;
  --typography-h5-font-size: 1rem;
  --typography-h5-font-width: 103.8%;
  --typography-h5-line-height: 1.5rem;
  --typography-h5-letter-spacing: 0rem;
  --typography-h6-font-size: 0.875rem;
  --typography-h6-font-weight: 540;
  --typography-h6-sans-serif-font-weight: 540;
  --typography-h6-sans-serif-text-transform: none;
  --typography-h6-serif-font-weight: 540;
  --typography-h6-serif-text-transform: none;
  --typography-h6-font-width: 103.8%;
  --typography-h6-line-height: 1.25rem;
  --typography-h6-letter-spacing: 0rem;
  --typography-h6-text-transform: none;
}
:root ._TD, :root ._TD ._ZDS_REF_SCOPE_ {
  --component-wishlist-border-radius: var(--border-radius-xl);
  --component-message-default-spacing-padding: var(--spacing-none);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-normal);
  --component-link-icon-element-icon-display: none;
}
@media (min-width: 64rem) {
  :root ._TD {
    --typography-jumbo1-font-size: 4.5rem;
    --typography-jumbo1-line-height: 4.75rem;
    --typography-jumbo1-letter-spacing: 0rem;
    --typography-jumbo2-font-size: 4rem;
    --typography-jumbo2-line-height: 4.25rem;
    --typography-jumbo2-letter-spacing: 0rem;
    --typography-jumbo3-font-size: 3.75rem;
    --typography-jumbo3-line-height: 4rem;
    --typography-jumbo3-letter-spacing: 0rem;
    --typography-jumbo4-font-size: 3.5rem;
    --typography-jumbo4-line-height: 3.75rem;
    --typography-jumbo4-letter-spacing: 0rem;
    --typography-h1-font-size: 2.75rem;
    --typography-h1-line-height: 3.5rem;
    --typography-h1-letter-spacing: 0.00625rem;
    --typography-h2-font-size: 2.5rem;
    --typography-h2-line-height: 3rem;
    --typography-h2-letter-spacing: 0.00625rem;
    --typography-h3-font-size: 2.25rem;
    --typography-h3-line-height: 2.5rem;
    --typography-h3-letter-spacing: 0rem;
    --typography-h4-font-size: 2rem;
    --typography-h4-line-height: 2.25rem;
    --typography-h4-letter-spacing: 0rem;
    --typography-h5-font-size: 1.125rem;
  }
}
:is(:root ._TD, :root ._TD._LM, :root ._TD ._LM) {
  --color-background-brand: #000000;
  --color-border-secondary: #000000;
  --color-text-interactive: #000000;
  --color-text-brand: #000000;
  --color-text-sale: #000000;
}
:is(:root ._TD, :root ._TD._LM, :root ._TD ._LM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-primary);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-primary);
  --component-flag-positive-color-background: var(--color-background-default);
  --component-link-default-element-label-color-text: var(--color-text-primary);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-transparent);
  --component-wishlist-color-background: var(--color-background-tertiary);
  --component-wishlist-color-selected: var(--color-text-primary);
}
:is(:root ._TD._MM, :root ._TD ._MM) {
  --color-background-brand: #000000;
  --color-border-secondary: #00000066;
  --color-text-interactive: #000000;
  --color-text-brand: #000000;
  --color-text-sale: #000000;
}
:is(:root ._TD._MM, :root ._TD ._MM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-on-positive);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:is(:root ._TD._DM, :root ._TD ._DM) {
  --color-background-brand: #ffffff;
  --color-border-secondary: #ffffff66;
  --color-text-interactive: #ffffff;
  --color-text-brand: #ffffff;
  --color-text-sale: #ffffff;
}
:is(:root ._TD._DM, :root ._TD ._DM) ._ZDS_REF_SCOPE_ {
  --component-flag-negative-color-text: var(--color-text-negative);
  --component-flag-negative-color-background: var(--color-background-default);
  --component-flag-positive-color-text: var(--color-text-on-positive);
  --component-flag-positive-color-background: var(--color-background-positive);
  --component-link-default-element-label-color-text: var(--color-text-interactive);
  --component-link-default-element-underline-color-border: inherit;
  --component-link-icon-element-underline-color-border: inherit;
  --component-message-default-color-background: var(--color-background-tertiary);
  --component-wishlist-color-background: var(--color-background-default);
  --component-wishlist-color-selected: var(--color-text-brand);
}
:root ._TL, :root ._TL ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: var(--border-radius-xl);
  --component-input-border-radius: var(--border-radius-l);
}
:root ._TSR {
  --typography-body-large-font-weight: 400;
  --typography-body-large-font-size: 1.375rem;
  --typography-body-large-line-height: 2rem;
  --typography-body-large-letter-spacing: -0.01875rem;
  --typography-h1-font-weight: 440;
  --typography-h1-sans-serif-font-weight: 440;
  --typography-h1-sans-serif-text-transform: uppercase;
  --typography-h1-serif-font-weight: 440;
  --typography-h1-serif-text-transform: none;
  --typography-h1-font-size: 1.875rem;
  --typography-h1-line-height: 2.25rem;
  --typography-h1-letter-spacing: -0.03125rem;
  --typography-h1-font-width: 103.8%;
  --typography-h1-text-transform: none;
  --typography-h2-font-weight: 440;
  --typography-h2-sans-serif-font-weight: 440;
  --typography-h2-sans-serif-text-transform: uppercase;
  --typography-h2-serif-font-weight: 440;
  --typography-h2-serif-text-transform: none;
  --typography-h2-font-size: 1.625rem;
  --typography-h2-line-height: 1.875rem;
  --typography-h2-letter-spacing: -0.03125rem;
  --typography-h2-font-width: 103.8%;
  --typography-h2-text-transform: none;
  --typography-h3-font-weight: 440;
  --typography-h3-sans-serif-font-weight: 440;
  --typography-h3-sans-serif-text-transform: uppercase;
  --typography-h3-serif-font-weight: 440;
  --typography-h3-serif-text-transform: none;
  --typography-h3-font-size: 1.5rem;
  --typography-h3-line-height: 1.75rem;
  --typography-h3-letter-spacing: -0.01875rem;
  --typography-h3-font-width: 103.8%;
  --typography-h3-text-transform: none;
  --typography-h4-font-weight: 440;
  --typography-h4-sans-serif-font-weight: 440;
  --typography-h4-sans-serif-text-transform: uppercase;
  --typography-h4-serif-font-weight: 440;
  --typography-h4-serif-text-transform: none;
  --typography-h4-font-size: 1.375rem;
  --typography-h4-line-height: 1.625rem;
  --typography-h4-letter-spacing: -0.01875rem;
  --typography-h4-font-width: 103.8%;
  --typography-h4-text-transform: none;
  --typography-h5-font-weight: 440;
  --typography-h5-sans-serif-font-weight: 440;
  --typography-h5-sans-serif-text-transform: uppercase;
  --typography-h5-serif-font-weight: 440;
  --typography-h5-serif-text-transform: none;
  --typography-h5-font-size: 1.125rem;
  --typography-h5-line-height: 1.25rem;
  --typography-h5-letter-spacing: -0.00625rem;
  --typography-h5-font-width: 103.8%;
  --typography-h5-text-transform: none;
  --typography-h6-font-weight: 440;
  --typography-h6-sans-serif-font-weight: 440;
  --typography-h6-sans-serif-text-transform: uppercase;
  --typography-h6-serif-font-weight: 440;
  --typography-h6-serif-text-transform: none;
  --typography-h6-font-size: 0.875rem;
  --typography-h6-line-height: 1rem;
  --typography-h6-letter-spacing: -0.00625rem;
  --typography-h6-font-width: 103.8%;
  --typography-h6-text-transform: none;
}
:root ._TSR, :root ._TSR ._ZDS_REF_SCOPE_ {
  --component-button-border-radius: 12px;
  --component-card-border-radius: 16px;
  --component-icon-button-border-radius: var(--border-radius-xl);
  --component-link-default-element-label-typography-small-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-medium-font-weight: var(--font-weight-normal);
  --component-link-default-element-label-typography-large-font-weight: var(--font-weight-normal);
  --component-wishlist-border-radius: var(--border-radius-xl);
}
@media (min-width: 64rem) {
  :root ._TSR {
    --typography-h1-font-size: 2.25rem;
    --typography-h1-line-height: 2.625rem;
    --typography-h1-letter-spacing: -0.03125rem;
    --typography-h2-font-size: 2rem;
    --typography-h2-line-height: 2.375rem;
    --typography-h2-letter-spacing: -0.03125rem;
    --typography-h3-font-size: 1.75rem;
    --typography-h3-line-height: 2rem;
    --typography-h3-letter-spacing: -0.01875rem;
    --typography-h4-font-size: 1.375rem;
    --typography-h4-line-height: 1.625rem;
    --typography-h4-letter-spacing: -0.01875rem;
    --typography-h5-font-size: 1.125rem;
    --typography-h5-line-height: 1.25rem;
    --typography-h5-letter-spacing: -0.00625rem;
    --typography-h6-font-size: 0.875rem;
    --typography-h6-line-height: 1rem;
    --typography-h6-letter-spacing: -0.00625rem;
  }
}